<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate users</title>
</head>
<body>
    <p><h3>Random user generator</h3></p>
    <form method="GET" action=".">
        <input name="amount" type="number" value="100">
        <button type="submit">Generate !!!</button>
    </form>
    {% if items %}
    <hr>
        {% for item in items %}
            <p>{{ item }}</p>
        {% endfor %}
    <hr>
    {% endif %}
</body>
</html>