<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
</head>
<body>
<table>
    <caption>Python environment requirements:</caption>
    <tr>
        <th>Module</th>
        <th>Version</th>
    </tr>
    {% for item in usage %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>