<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
</head>
<body>
    {% if astros == 0 %}
    <p><h3>Error, bad connection to the server with astronauts list.</h3></p>
    {% else %}
    <p><h3>There are {{ astros }} astronauts at that moment.</h3></p>
    {% endif %}
</body>
</html>